.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px;
    color: white;
}
.nav-logo{
    font-family: Outfit;
    font-size: 36px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
}
@media only screen and  (max-width:800px) {
    .nav{
        margin: 30px 15px;
        align-items: baseline;
    }
    .nav-logo{
        font-size: 30px;
        
    }
    .nav-menu{
        gap: 55px;
    }
    .nav-contact{
        border-radius: 16px;
        padding: 6px 28px;
    
    }

}